*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body {
    /* display: block; */
    background: #4158D0;
    /* background-image: linear-gradient(43deg, #5c6ec7 0%, #602af5 46%, #072074 100%); */
    ;
    /* position: relative; */
    overflow: hidden;
}
/* ::selection{
    background: rgba(26,188,156,0.3);
  } */
.container{
    max-width: 80%;
    padding: 0 20px;
   top: 120px;
   left : 150px;
   position: relative;
}
.wrapper {
    width: 100%;
    height: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.form{
    padding: 5% 5%;
    float: left;
    width: 40%;
    height: 100%;
}
form{
    width: 100%;
    height: 100%;
}
form, input{
    font-size: 23px;
}
.forgot{
    padding-left:20%;
    font-size: 18px;
}
.text-form{
    margin-bottom: 20px;
}
input{
    border-radius: 3px;
    width: 100%;
}
.button-login{
    text-align: center;
    padding-top: 30px;
}
.button-login #loginbtn{
    width: 120px;
    height: 40px;
    background-color: #D885A3;
    font-size: 23px;
    border-radius: 20px;
    position: relative;
}
button::after{
    content: "";
    width: 10px;
    height: 10px;
   display: flex;
    background-image: url('img/ArrowRight.svg');
    position: absolute;
}
div p {
    display: flex;
    justify-content: center;
}
.button-icon{
    display: flex;
    justify-content: center;
    
}
.button-icon button{
    width: 100px;
    height: 40px;
    margin: auto;
    border-radius: 20px;
}
.signup{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.signup p{
    padding: 5px;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.pass{
    position: relative;
    /* display: block; */
}
/* .fa-eye{
    position: absolute;
} */
.image{
    float: right;
    width: 60%;
    height: 100%;

}
.rectangle{
    float: right;
    height: 100%;
    width: 50%;
    background-color: #C0DBEA;
    border-radius: 10px;

}